<a class="pizzaBage" href="/pizza/{{_id}}">
    <img class="pizzaImg" src="./images/{{ imgId }}.jpg" alt="{{imgId}}">
    <div class="pizzaInfo">
        <p class="pizzaName"> {{ name }} </p>
        <p class="pizzaCost"> {{ cost }}₽</p>
    </div>
</a>
